# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

media/hd1/

media/hd5/plot-k32-2021-07-17-19-29-90c5dfd95469a3dd4fcdfe16fafde320ee4ead10f2265692954d5184a7b72fd8.plot

media/hd5/

mover

.idea/
